<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>EAT-DA-BURGER!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="./models/burger.js"></script>
	</head>

<body>
	<img src="/assets/img/cute_burger.jpeg" width="400px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<a class="grey-text text-lighten-4 right" href="https://leeretk.github.io">Portfolio</a>
			</div>
		</div>
	</footer>
</body>
</html>


