@@ -0,0 +1,107 @@
<div class="text-center wrapper">

  <h1 class="text-center" style="color: aliceblue;">Eat-Da-Burger!</h1>
  <h2 class="text-center" style="color: aliceblue;">Everybody Wants Some!</h2>

  {{!--//YOU TUBE VIDEO
//======================== --}}
  <div class="card">
      <div class="card-deck">
          <div class="card text-center">
            <iframe src="https://www.youtube.com/embed/CxZy3Tr2wQM"></iframe>
          </div>
      </div>
  <div>

{{!--//BUILD A BURGER (POST / PUT NEW DATA IN BURGER)
//======================== --}}
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="assets/img/bunTop.jpg">
    <div class="card-body">
      <h5 class="card-title">Click a Burger or Topping to Devour it!</h5>
      <form class="add-burger">
        <div class="form-group">
          <p class="card-text ">
              <div class="col s6 text-center">
                      <label for="devour-burger" >
                        {{> burgers/burger-to-devour devoured=false}}
                                        <audio id="myAudio">
                  <source src="/public/assets/mp3/Bite-SoundBible.com-2056759375.mp3" type="audio/ogg">
                </audio>
                {{!-- class="button-add-burger" --}}
                      </label>
                <div>
          </p>
            </div>
      </form>
      <img class="card-img" src="assets/img/bunBottom.jpg">
    </div>
  </div>
</div>
</div>

{{!--//ADD A NEW BURGER OR TOPPING
//======================== --}}
        <div class="card text-center">
          <div class="card-body cardBodyMiddle">
            <div class="row">
              <p class="card-text">
                 <div class="col s6 text-center">
              <h3>I Want Some Too!!! <br><br> Enter Burger's and Toppings you would like to Devour!</h3>
              </p>
              <form class="add-burger">
                <div>
                  <label for="new-burger-name" ></label>
                  <input type="text" id="new-burger-name" name="burger_name" placeholder="I want some too!">
                </div>
                <button type="submit" class="button-add-burger">Add Burger and Toppings</button>
              </form>
              </div>
            </div>
          </div>
        </div>

{{!-- //delete burgers devoured --}}
<div class="card">
  <img class="card-img-top" src="/assets/img/betterOffDeadBurger.jpg">
  <div class="card-body">
    <h5 class="card-title">Click to Delete Devoured Burger!</h5>
    <div class="col s6">
    </div>
    <br>
    <p class="card-text"></p>
    <div class="form-group">
      <label for="devoured"><strong>
        {{> burgers/burger-devoured devoured=true}}</strong>
      </label>
    </div>
  </div>
</div>
</div>

</div> {{!--  end wrapper --}}