<div class="text-center wrapper">

  <h1 class="text-center" style="color: aliceblue;">Eat-Da-Burger!</h1>
  <h2 class="text-center" style="color: aliceblue;">Everybody Wants Some!</h2>

  <div class="card">
    <div class="card-deck">

      <div class="card text-center">
        <iframe src="https://www.youtube.com/embed/CxZy3Tr2wQM"></iframe>
      </div>

    </div>
  <div>

  <div class="card-deck">

    <div class="card">
    
          <img class="card-img-top" src="assets/img/bunTop.jpg">

          <div class="card-body">
            <h5 class="card-title">Click a Burger or Topping to Devour it!</h5>
            <p class="card-text">
            <div class="col s6">
              {{#each burgers}}
              {{#unless this.devoured}}
              <div>
                <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                  <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
                </form>
              </div>
              {{/unless}}
              {{/each}}
            </div>
            <p>
              {{this.burger_name}}
            </p>
            <img class="card-img-top" src="assets/img/bunBottom.jpg">
          </div>
          <div class="card-footer">

            <small class="text-muted">Cheesy Mushroom Burger Time!</small>
          </div>
        </div>

        <div class="card">
          <div class="card-body cardBodyMiddle">
            <div class="row text-center">

            <p class="card-text"><h3>I Want Some Too!!! <br><br> Burger's and Toppings you would like to Devour!</h3></p>
              <form action="/burgers" method="POST">
                  
                  <input type="text" id="name" name="burger_name" placeholder="I want some too!">
                  <button type="submit" class="button-add-burger">Add Burger and Toppings</button>

              </form>

             </div>

          </div>
          <div class="card-footer">
            <small class="text-muted">Cheesy Bacon Burger Time!</small>
          </div>
        </div>

        <div class="card">

          <img class="card-img-top" src="https://media2.giphy.com/media/3oEjHGi2o0yq5t8R7a/200w.webp?cid=ecf05e47e93d41feab7078805ba65b655b0140cdeaac93f1&rid=200w.webp">

          <div class="card-body">
            <h5 class="card-title">Burgers you Devoured!</h5>
            <div class="col s6">
              {{#each burgers}}
              {{#if this.devoured}}
              <div class='burgerEaten'>
                <div>
                  {{this.burger_name}}
                </div>
              </div>
              {{/if}}
              {{/each}}
            </div>
            <br>
            <p class="card-text">YUMMY, YUMMY, YUMMY!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Cheesy Cheesy Burger Time!</small>
          </div>
        </div>
      </div>
    </div> {{!--  end wrapper --}}