 {{!-- <div class="col-xs-8 col-sm-6 col-md-4" id="addBurger">
  	<form method="POST" action="/create">
  		<p>Enter a type of burger you would like to eat & click 'Add Burger'.</p>
  		<textarea class="form-control" rows="2"></textarea>
		  <button type="submit" class="button-add-burger" id="submit">Add Burger</button>
	  </form>	
  </div> --}}