<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}BURGER TIME!{{else}}BUILD NEW BURGER!{{/if}}
	</button>
	
</li>

{{!-- don't need if statement -- only going to display an buttton if they have not eaten them.   --}}